body {
  margin: 0;
}

.list-title {
  text-align: center;
  margin: 0;
  padding: 50px;
  background: #2196f3;
  color: #fff;
  font-family: sans-serif;
}

.list-actions {
  display: flex;
  flex-wrap: wrap;
}

.list-actions > button {
  width: 120px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 0 10px 10px;
  transition: 0.2s ease-in-out;
  cursor: crosshair;
}

@media screen and (min-width: 768px) {
  .list-actions {
    flex-wrap: nowrap;
    background: red;
  }
}
